<div class="jumbotron " >
  <h1>Study in Germany</h1>
  <p>Here we provide information for prospective students to continue their education in Germany. Lets start the process by doing a quick search on the courses or place you like to study


  </p>
<div class="row">
    <div class="col-lg-4 col-lg-offset-4">
        <div class="input-group">
            <input type="text" class="form-control" placeholder={{searchVal}} [(ngModel)]="searchVal"/> 
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" click= "search()">Go!</button>
            </span>
            {{searchVal}}
        </div><!-- /input-group -->
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->



</div>